body { font-family: "Alef", sans-serif; }
a, a:visited, a:hover {color: black;}
h1 {
    font-size: 50px;
    position: relative;
    top: 500px;
    right: 146px;
}
#memgar {
    top:0px;
    left: 0px;
    z-index: -1;
}
